<div class='main-nav'>
    <div>
        <div class='navbar-header'>
            <h1>Лозунг</h1>
        </div>
        <div class='clearfix'></div>
        <div>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/about']">
                        About
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/works']">
                        Works
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
